<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundHighlightCollection</key>
	<date>2022-10-21T05:12:16Z</date>
	<key>BackgroundHighlightEnrichment</key>
	<date>2022-10-21T05:12:15Z</date>
	<key>BackgroundJobAssetRevGeocode</key>
	<date>2022-10-21T05:12:16Z</date>
	<key>BackgroundJobSearch</key>
	<date>2022-10-21T05:12:16Z</date>
	<key>BackgroundPeopleSuggestion</key>
	<date>2022-10-21T05:12:09Z</date>
	<key>BackgroundUserBehaviorProcessor</key>
	<date>2022-10-21T05:12:16Z</date>
	<key>PGGraphDataModelEnrichmentContextBackgroundEnrichment</key>
	<date>2022-10-14T06:16:18Z</date>
	<key>PGGraphDataModelEnrichmentContextWeeklyEnrichment</key>
	<date>2022-10-21T05:12:16Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphConsistencyUpdateJobDateKey</key>
	<date>2022-10-21T05:12:21Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphRebuildJobDate</key>
	<date>2022-10-21T05:12:09Z</date>
	<key>PhotoAnalysisGraphLastBackgroundMemoryGenerationJobDate</key>
	<date>2022-10-21T05:12:16Z</date>
	<key>PhotoAnalysisPresentationLastCacheCPAnalyticsPropertiesJobDate</key>
	<date>2022-10-21T05:12:19Z</date>
	<key>PhotoAnalysisPresentationLastMediaSampleReportingJobDate</key>
	<date>2022-10-21T05:12:19Z</date>
	<key>SiriPortraitDonation</key>
	<date>2022-10-21T05:12:16Z</date>
</dict>
</plist>
