<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVC7bsMwDPwXzq4hu2kSaCuyNEsDtEA7FB0Ym7ZVWJIh0UmDIP9e+pEgQzfijjze3Rks
	MZbICPoMFiNTeCFTNww6z9U6mbFPU3IDOssXeQI+GHKMbLwT6JJA5YNF/qAQJyiBwzRv
	XeUH4X1v2vK1t3sKoCFbb5ZLSAC77nYDj3meqjRTSohYNGTxjQ5mIlUCXYs8vJFNs3sH
	eYrlTx/ZipMI+uv8jwlyuG+pBM2hJ1ElZuPqOBg64XGUlSi1cdhugu9AV9hGWfzdjaho
	PC3lzGLgG3eci1BroU7XxQeRihxwKI7cs6tbmkDs2d9um7nYbLVYJVB4N544vhau7sG5
	8SG64WKYJLMpJa6pzFjj6Pla/vaeKbxNpdyW0q7xYuDyffkD
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2022-03-06T16:24:53Z</date>
</dict>
</plist>
