<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVDLTsNADPwXn5coDwiwN9QLvVAJJDggDm7iJIv2Ee06LVXVf2eTNFWRuFkzY3tmjmCI
	sUZGkEcwGJj8M6m2Y5BZeVeKM/ahau4ilN/mApxXZBlZORuhk4DGeYP8Tj7MkIDdPK9t
	48bD20Hp+mUwW/IgIXtYlSUIwL6/7ECR50maZGkaiVB1ZPCVdmomUwG9Rh7fRKXavEF8
	ivX3ENhEJwHk5/EfE2Rxq6kGyX6geJWYlW3DaOiA++lsjNIqi3rlXQ+yQR2i8GczoSBv
	oiIY9Hyh9ksPxb2Awx8dexx7I/tkW00ziAO7y2639Jo9FgIqZ6cVy0vf6TV4LnxMrrga
	pxhZ1TGtatTU4mR56X59zVTOJLFbTUnfuWjg9HX6BQ==
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2022-07-06T13:15:42Z</date>
</dict>
</plist>
