<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloudVersion</key>
	<string>AF22AA98-9766-4816-87E6-803B06EEB875</string>
	<key>localVersionToken</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwRGRobIVUkbnVsbNINDg8Q
	ViRjbGFzc18QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmABoAC0xIT
	DRQWGFdOUy5rZXlzWk5TLm9iamVjdHOhFYADoReABIAFXxAkN0M2NjQzNjYtM0VDMi00
	RDQ0LUJBRkYtQTA4N0UyMTcwMzM2ESJS0hwdHh9aJGNsYXNzbmFtZVgkY2xhc3Nlc1xO
	U0RpY3Rpb25hcnmiHiBYTlNPYmplY3TSHB0iI18QGV9OU1BlcnNpc3RlbnRIaXN0b3J5
	VG9rZW6jJCUgXxAZX05TUGVyc2lzdGVudEhpc3RvcnlUb2tlbl8QGE5TUGVyc2lzdGVu
	dEhpc3RvcnlUb2tlbgAIABEAGgAkACkAMgA3AEkATABRAFMAWwBhAGYAbQCSAJQAlgCd
	AKUAsACyALQAtgC4ALoA4QDkAOkA9AD9AQoBDQEWARsBNwE7AVcAAAAAAAACAQAAAAAA
	AAAmAAAAAAAAAAAAAAAAAAABcg==
	</data>
	<key>storeUUID</key>
	<string>7C664366-3EC2-4D44-BAFF-A087E2170336</string>
</dict>
</plist>
